button,
.btn {
  white-space: nowrap;
  font-size: 0.7rem;
  font-weight: bold;
  border: 0px;
  border-radius: 0.25rem;
  padding: 0.5rem 1.5rem;
}

button:hover {
  cursor: pointer;
}

.blue-btn {
  color: white;
  background-color: var(--medium-blue);
  border: 1px var(--medium-blue) solid;
}

.blue-btn:hover {
  background-color: var(--light-blue);
  border: 1px var(--light-blue) solid;
}

.blue-btn:active {
  background-color: var(--dark-blue);
  border: 1px var(--dark-blue) solid;
}

.white-btn {
  border: 1px var(--medium-blue) solid;
  background-color: white;
  color: var(--medium-blue);
}

.white-btn:hover {
  color: var(--light-blue);
  border: 1px var(--light-blue) solid;
}

.white-btn:active {
  color: var(--dark-blue);
  border: 1px var(--dark-blue) solid;
}

.gray-btn {
  padding: 0.5rem;
  border: 1px #f6f7f8 solid;
  background-color: #f6f7f8;
  color: var(--medium-blue);
}

.gray-btn:hover,
.gray-btn:active {
  background-color: #edeff1;
  border: 1px #edeff1 solid;
}

.sort-btn {
  height: 2rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  /* background-color: violet; */
  font-size: 0.8rem;
  background-color: transparent;
  border-radius: 0.8rem;
  color: #878a8c;
  font-weight: normal;
  font-size: 1rem;
  margin-right: 0.8rem;
}

.sort-btn img {
  margin-right: 0.5rem;
}

.sort-btn:hover.active-sort-false {
  background-color: #f6f7f8;
  color: black;
}

.post-btn {
  color: #878a8c;
  display: inline;
}

.post-btn:hover {
  background-color: #e7e7e7;
}
