/* TODO make button grow and make them the same size
  also add a magnifying glass to the search bar
*/
nav .logo {
  display: flex;
  align-items: center;
  margin: 0 0.5rem;
}

nav .logo img {
  margin: 0.25rem;
}

nav {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search-bar {
  padding: 0.4rem 2rem;
  font-size: small;
  background-color: #f6f7f8;
  border: 1px #edeff1 solid;
  flex-grow: 1;
  min-width: 100px;
  max-width: 800px;
  border-radius: 0.25rem;
  margin: 0.15rem 0.55rem;
}

/* add the magnifiying glass later */
/* .search-container{
  position: relative;
  background-color: pink;
} */

/* .search-glass{
  position: absolute;
} */

nav button {
  margin: 0.6rem 0.15rem;
}

.search-bar:hover,
.search-bar:focus {
  border: 1px var(--medium-blue) solid;
  background-color: #fff;
}

@media (max-width: 1000px) {
  .black-reddit {
    display: none;
  }
}

@media (max-width: 850px) {
  nav button {
    display: none;
  }
}
