#top-communities>* {
    margin-bottom: 1rem;
}


.top-communities-footer {
    display: flex;
    justify-content: space-between;
}


.top-community {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    font-weight: bold;
}

.top-community * {
    margin: 0.4rem;
}

#top-communities-list li {
    border-bottom: 1px lightgray solid;
}

#top-communities-list li:last-child {
    border-bottom: 0px;
}

.top-community {
    font-size: .85rem;
    font-weight: normal;
}